body {
  background:\Users\User\Desktop\Register/paws.jpg ;
}

h1{color:black;
text-align:center

}

h3{
	text-align:left
	
}
	
table{
	text-align: center;
	font-family: Bell Mt;
	color: black;
	font-size: 100%;
	border-width: 10px;
	border-color: #ffffb3;
	border-style: inset;
	background-color: white;	
}
<style>
.navbar {
    overflow: hidden;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: center;
    overflow: hidden;
}

/.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    padding: 15px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: center;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
body{
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	background-size: cover;
}
