ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: #B22222;

}

 

li {

    float: left;

    border-right:1px solid #FA8072 ;

}

 

li:last-child {

    border-right: none;

}

 

li a {

    display: block;

    color: white;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

}

 

li a:hover:not(.active) {

    background-color: #111;

}

 

.active {

    background-color: #FFA07A;

}


* {
	 text-transform: uppercase;
	 color: white;
}
body, html {
    height: 100%;
}

body { 
    background-image: url("aboutus.jpg");
	overflow: visible;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about {
	color:white;
}
div {
	color: white;
}