ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: #B22222;

}

 

li {

    float: left;

    border-right:1px solid #FA8072 ;

}

 

li:last-child {

    border-right: none;

}

 

li a {

    display: block;

    color: white;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

}

 

li a:hover:not(.active) {

    background-color: #111;

}

 

.active {

    background-color: #FFA07A;

}
div {
     background: rgba(255,160,122, 0.5);
}
.packages {
     background-color: #B22222;
	 color: white;
text-align:center;
	 height: 40px;
	 padding-top: 10px;
width: 300px;
margin-left: 35%;
	 
}
.activities_with_us {
     background-color: #B22222;
	 color: white;
text-align:center;
	 height: 40px;
	 padding-top: 10px;
width: 300px;
margin-left: 35%;
	 
}
p    { 
     color: #B22222;
}